@import url("reset.css");
@import url("header.css");
@import url("main.css");

:root {
    --cor-de-fundo: #17162E;
    --fundo-card: #1D1C3B;
    --branco: #FFFFFF;
    --cinza-claro: #ACACAC;
    --cinza-escuro: #8A8A8A;
    --violeta: #706EA8;
    --fonte: 'Kumbh Sans', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: var(--fonte);
    font-size: 500;
}